body{
    margin: auto;
}
header{
   background-color:#1f8599; 
   width: 100%;
   height: 60px;

}
.logo{
   height: 80px;
   width: 30%;
    /* border: 1px solid black; */
    
}
.logo>img{
    width: 100%;
    height: 50px;
 padding-top: 5px;
 padding-bottom: 5px;
    
}
a{
    /* text-decoration: none; */
}
#logoImage{


}
#header{
text-align: center;
margin-left: 20px;
font-size: 30px;

}